[Unit]
BindsTo=Bmos.service
Requires=postgresql-9.5
After=network.target postgresql-9.5
Description=Bmos Server

[Service]
Type=forking
# The PID file is optional, but recommended in the manpage
# "so that systemd can identify the main process of the daemon"
PIDFile=/var/run/bmos/bmos.pid
WorkingDirectory=/opt/bmos
ExecStart=/opt/bmos/BmosServer.py start

[Install]
WantedBy=multi-user.target
