[Unit]
Description=Partyzone upstairs hall slave player

[Service]
Type=simple
Environment=GI_TYPELIB_PATH=/usr/local/lib/girepository-1.0
ExecStart=/opt/PartyZone/partyzone --playertype slave --name "Kitchen" --card hw:0,0

[Install]
WantedBy=multi-user.target
