[Unit]
Requires=pyro4-nameserver
After=pyro4-nameserver
Description=Partyzone master player

[Service]
Type=simple
ExecStart=/usr/bin/partyzone --playertype master --host 192.168.119.54

[Install]
WantedBy=multi-user.target
