[Unit]
Requires=pyro4-nameserver.service
After=pyro4-nameserver.service
Description=Partyzone master player

[Service]
Type=simple
Environment=GI_TYPELIB_PATH=/usr/local/lib/girepository-1.0
ExecStart=/usr/bin/partyzone --playertype master --host 192.168.119.54

[Install]
WantedBy=multi-user.target
