[Unit]
After=network.target
Description=Pyro4 nameserver

[Service]
Type=simple
ExecStart=/usr/bin/python /usr/local/bin/pyro4-ns -n 0.0.0.0

[Install]
WantedBy=multi-user.target
